:root {
    --transition: all 0.2s ease-in-out;

    /*color*/
    --color-primary: #EFEEEE;
    --dark-blue: #303960;
    --white: #FFFFFF;
    --dark-shadow: #BABECC;
    --text: #61677C;

    --shadow: 5px 5px 20px var(--dark-shadow), -5px -5px 20px var(--white);
    --hover-shadow: 2px 2px 5px  var(--dark-shadow), -2px -2px 5px var(--white);
    --inner-shadow: inset 2px 2px 5px var(--dark-shadow), inset -5px -5px 10px var(--white);
    --focus-shadow: inset 1px 1px 2px var(--dark-shadow), inset -1px -1px 2px var(--white);
    --text-shadow: 1px 1px 0 var(--white);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: var(--color-primary);
}

input, button, #shopping-list li {
    border: 0;
    outline: 0;
    padding: 16px;

    font-size: 16px;
    border-radius: 10px;
    text-shadow: var(--text-shadow);

    background-color: var(--color-primary);
}

input {
    width: 100%;
    box-sizing: border-box;

    box-shadow: var(--inner-shadow);

    transition: var(--transition);
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
}

button {
    display: flex;
    margin: 7% auto 0;
    width: 100%;
    justify-content: center;

    color: var(--text);
    font-weight: bold;
    box-shadow: var(--shadow);
    transition: var(--transition);
    cursor: pointer;
    user-select: none;
}

button:hover, #shopping-list li:hover {
    box-shadow: var(--hover-shadow)
}

input:focus, button:active {
    box-shadow: var(--focus-shadow);
}

ul {
    list-style-type: none;
}

#main-container {
    margin: 2% auto;
    width: 320px;

    display: flex;
    flex-direction: column;
    user-select: none;
}

#main-image {
    width: 100%;
    margin: 0 auto;
}

#shopping-list-container {
    margin: 2% auto;
    width: 50vw;
    min-width: 320px;
}

#shopping-list {
    margin: 5% auto;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#shopping-list li {
    max-width: 200px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;

    color: var(--text);

    transition: var(--transition);
    box-shadow: var(--shadow);
}